@charset "UTF-8"

* {
   font-family: Arial, Helvetica, sans-serif;
   height: 100%;
}

body {
    background-image: linear-gradient( to right, #260220,#9e6891);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow:5px 5px 15px #3d362d60 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #413b3b ;
    text-align: center;
    text-shadow: 1px 1px 2px #1817179f;
}

    h2{
        color: #F20732 ;
    }
p {
  text-align: justify;
} 